.image1{
    width:320px;
    height:270px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius:20px;
    background-color: blanchedalmond;
}
.boody{width:380px;
background-color: #b0b0b0;
margin: 40px auto 0;
border-radius:20px;
box-shadow: 0 10px 15px -8px;
font-size: 22px;}

h3{
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

p{
    padding:12px;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
  }
  .text{border-radius: 20px; 
       background-color: blanchedalmond;}